# Emacs backups.
*~

# Emacs mutexes.
\#*#

# Locally-installed Emacs packages.
/configs/.emacs.d/elpa

# Makefile symlink (system-specific, like the configs that we put in ~, so it's untracked).
/Makefile

# OS X Finder config for the working copy.
.DS_Store

# JetBrains config for the working copy.
/.idea

# Password.
/password.txt
