[user]
    name = nikhil
    email = nikhil@nikhil.cc

[alias]
    ad = add
    adp = add --patch

    bl = blame
    # Current line count per author within a specified $DIR.
    # Example:
    #   WITHIN=src/README.md git blc
    #   WITHIN=src/ INCLUDE=\\.py$ git blc
    #   WITHIN=src/ EXCLUDE=^src/README.md$ git blc
    # See http://www.commandlinefu.com/commands/view/10831 and http://stackoverflow.com/a/18496493/853
    blc = ! git ls-files -- "$WITHIN" | grep "${INCLUDE:-.}" | grep -v "${EXCLUDE:-a^}" | xargs -I{} git blame --line-porcelain "{}" | sed -n 's/^author //p' | sort -f | uniq -ic | sort -nr

    br = branch
    brd = branch --delete
    brD = branch -D

    bs = bisect

    ch = checkout
    chb = checkout -b

    cm = commit
    cma = commit --amend
    cmane = commit --amend --no-edit
    cmm = commit --message

    df = diff
    dfc = diff --cached
    dfno = diff --name-only

    lg = log
    lgno = log --name-only
    lgg = log --graph --pretty=oneline --abbrev-commit --all

    pk = cherry-pick

    rb = rebase
    rbc = rebase --continue
    rbi = rebase --interactive
    rbo = rebase --onto

    sh = show
    shno = show --name-only

    st = status

    # See https://git.wiki.kernel.org/index.php/Aliases#Getting_pretty_logs
    tr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    undo-commit = reset --soft HEAD^

[color]
    ui = true

[core]
	editor = emacs
	excludesfile = ~/.gitignore_global

[pull]
	ff = only

[push]
	default = current
